<div class="mx-auto lg:mx-0">
    <div class="bg-[#2B3352] w-[630px] h-[630px] px-12 rounded-md flex flex-col justify-center gap-y-5 py-20">
      <div class="text-white text-base text-left border-b border-b-white w-full pb-1">
        {{ currentYear }} - {{ months[currentMonth] }}
      </div>
      <div>
        <div class="flex flex-row justify-between text-white">
          <span>{{ months[currentMonth] }} de {{ currentYear }}</span>
          <div>
            <button (click)="prevMonth()"><</button>
            <button (click)="nextMonth()">></button>
          </div>
        </div>
        <table class="text-white w-full mt-5">
          <thead>
            <tr class="flex flex-row justify-between">
              <th>DO</th>
              <th>LU</th>
              <th>MA</th>
              <th>MI</th>
              <th>JU</th>
              <th>VI</th>
              <th>SA</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let week of weeks" class="flex flex-row justify-between">
                <td *ngFor="let day of week" class="py-5 w-2 text-center">
                    <span class="relative" [ngClass]="{'text-gray-500':day[1] != currentMonth+1}">
                        {{ day[0] || '' }}
                        <span class="absolute -top-2.5 -left-3 size-10 opacity-0 rounded-full" [ngClass]="{'opacity-100 bg-slate-200 bg-opacity-25': day[0]===today[0] && day[1] === today[1]+1}">
                        </span>
                    </span>
                    
                </td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>
  