<div class="mx-auto lg:mx-0">           
    <div class="bg-[#2B3352] w-[630px] h-[630px] px-12 rounded-md flex flex-col justify-center gap-y-5 py-20">
        <div class="text-white text-base text-left border-b border-b-white w-full pb-1">
            06 de noviembre de 2024
        </div>
        <div>
            <div class="flex flex-row justify-between text-white">
                <span>Noviembre de 2024</span>
                <div>
                    <button><</button>
                    <button>></button>
                </div>
            </div>
            <table class="text-white w-full mt-5">
                <tbody>
                    <tr class="flex flex-row justify-between">
                        <th>DO</th>
                        <th>LU</th>
                        <th>MA</th>
                        <th>MI</th>
                        <th>JU</th>
                        <th>VI</th>
                        <th>SA</th>
                    </tr> 
                    <tr class="flex flex-row justify-between pt-5">
                        <td class="py-5">27</td>
                        <td class="py-5">28</td>
                        <td class="py-5">29</td>
                        <td class="py-5">30</td>
                        <td class="py-5">31</td>
                        <td class="py-5">1</td>
                        <td class="py-5">2</td>
                    </tr>
                    <tr class="flex flex-row justify-between">
                        <td class="py-5">27</td>
                        <td class="py-5">28</td>
                        <td class="py-5">29</td>
                        <td class="py-5">30</td>
                        <td class="py-5">31</td>
                        <td class="py-5">1</td>
                        <td class="py-5">2</td>
                    </tr>
                    <tr class="flex flex-row justify-between">
                        <td class="py-5">27</td>
                        <td class="py-5">28</td>
                        <td class="py-5">29</td>
                        <td class="py-5">30</td>
                        <td class="py-5">31</td>
                        <td class="py-5">1</td>
                        <td class="py-5">2</td>
                    </tr>
                    <tr class="flex flex-row justify-between">
                        <td class="py-5">27</td>
                        <td class="py-5">28</td>
                        <td class="py-5">29</td>
                        <td class="py-5">30</td>
                        <td class="py-5">31</td>
                        <td class="py-5">1</td>
                        <td class="py-5">2</td>
                    </tr>
                    <tr class="flex flex-row justify-between">
                        <td class="py-5">27</td>
                        <td class="py-5">28</td>
                        <td class="py-5">29</td>
                        <td class="py-5">30</td>
                        <td class="py-5">31</td>
                        <td class="py-5">1</td>
                        <td class="py-5">2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>